$accentColor = #1989fa

.vxe-table {
  table {
    border-collapse: inherit;
    margin: inherit;
    display: inherit;
    overflow-x: inherit;
  }
  th, td, tr {
    border: inherit;
    padding: inherit;
  }
}

.theme-default-content:not(.custom){
  max-width: 860px;
  margin: 0 auto;
  padding: 2rem 2.5rem;
}