$accentColor = #1989fa

.vxe-table {
  table {
    border-collapse: inherit;
    margin: inherit;
    display: inherit;
    overflow-x: inherit;
  }
  th, td, tr {
    border: inherit;
    padding: inherit;
  }
}